%div#header.container
  %h1 Graph Visualizer
  %p.lead 工事中（under construction）
%div#visualizer_view.container
  %p.bg-info visualizer
%div.container
  %div.row
    %div#textarea_view.col-sm-6
      %p.bg-info textarea
      %textarea.form-control{'rows'=>'4', 'placeholder'=>'input text...'}
    %div.col-sm-6
      %div.well
        %p.bg-info options
        %button.btn.btn-lg.btn-primary.btn-block Visualize
        %button.btn.btn-lg.btn-default.btn-block Save as Image
