!!! 5
%html
  %head
    %meta{'charset'=>'UTF-8'}
    %title Graph Visualizer
    %link{'rel'=>'stylesheet', 'href'=>'/lib/bootstrap/css/bootstrap.css'}
    %link{'rel' => 'stylesheet', 'href'=> '/css/main.css'}
    %script{'src'=>'/lib/requirejs/js/require.js'}
    %script{'src'=>'/js/application/configs/requirejs.js'}
    %script{'src'=>'/js/application/main.js'}
  %body
    = yield
