!!! 5
%html
  %head
    %meta{'charset'=>'UTF-8'}
    %title test
    %script{'src'=>'/lib/requirejs/js/require.js'}
    %script{'src'=>'/js/app/requirejs_config.js'}
    %script{'src'=>'/js/app/main.js'}
  %body
    = yield
